<h1>Search Result</h1>

<ul class="list-group">
    {{#unless restaurantList.length}}
        <li class="list-group-item list-group-item-warning">We're sorry, but no results were found for {{searchword}}.</li>
    {{else}}
        <li class="list-group-item list-group-item-info">Your search keyword: {{searchword}}</li>
    {{/unless}}
</ul>

<ul class="list-group">
    {{#each restaurantList}}
    <li class="list-group-item">
        <a class="list-group-item list-group-item-action active" href="/reservation/{{this._id}}">{{this.RestaurantName}}</a>
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary">{{this.RestaurantAddress}}</li>
            <li class="list-group-item list-group-item-secondary">{{this.RestaurantCity}}</li>
            <li class="list-group-item list-group-item-secondary">{{this.RestaurantState}}</li>
        </ul>
    </li>
    {{/each}}
</ul>