<h1>YOUR TABLE</h1>
<h2>Restaurant Registration Edit Page</h2>

<form method="POST" action="/restaurant/confirmation?_method=PUT">
<label>Restaurant Name:
    <input type="text" name="restaurantName" id="restaurantName" value="{{restaurantInfo.RestaurantName}}" readonly>
</label>
<label>Restaurant Address:
    <input type="text" name="restaurantAddress" id="restaurantAddress" value="{{restaurantInfo.RestaurantAddress}}" readonly>
</label>
<label>Restaurant City:
    <input type="text" name="restaurantCity" id="restaurantCity" value="{{restaurantInfo.RestaurantCity}}" readonly>
</label>
<label>Restaurant State:
    <input type="text" name="restaurantState" id="restaurantState" value="{{restaurantInfo.RestaurantState}}" readonly>
</label>
<label>Restaurant Registration Number:
    <input type="text" name="restaurantRegNum" id="restaurantRegNum" value="{{restaurantInfo.RestaurantRegistrationNumber}}" readonly>
</label>
<label>TimeSlots:
    <input type="text" name="restaurantTime" id="restaurantTime" value="{{restaurantInfo.TimeSlots}}" required>
</label>
<p>Please provide time slots in mentioned format(HH:MM) separated by comma in 24 hour format, Eg: 10.30,11.30,12.00,13.00</p>
<label>Table Count:
    <input type="number" name="restaurantTabNum" id="restaurantTabNum" value="{{restaurantInfo.TableCount}}" min="1" required>
</label>
<label>Zip Code:
    <input type="text" name="restaurantZip" id="restaurantZip" value="{{restaurantInfo.RestaurantZip}}" readonly>
</label>
<button type="submit" name="restaurantRegButton" id="restaurantRegButton" onclick="return restaurantTimeslotCheck()">Register Restaurant</button>


</form>