<h1>YOUR TABLE</h1>
<h2>Edit Reservation</h2>
<a href="/manager/home" id="homebutton" name="homebutton">Manager Home</a>
  <form action="/manager/home?_method=PUT" method="POST">
  
    <label for="custNumPeople">
      Number of People
      <input type="number" name="custNumPeople" id="custNumPeople" min="1" max="10"  value="{{custInput.NumberOfPeople}}" />
    </label>
   
    <label for="custTime">
      Reservation Time
      {{#each timearray}}
      
      <input type="radio" name="custTime" id="custTime" value={{ this }}>{{ this }}  
      {{/each}}
    <label for="custPref">
      Reservation Preference
      <input type="text" name="custPref" id="custPref" value="{{custInput.CustomerPreference}}"/>
    </label>
    <input type="hidden" name="reservationID" id="reservationID" value="{{custInput._id}}">
    
    <button type="submit" onclick="return checkEditReservationFields()">Change Reservation</button>

  </form>
  