<h1>Manager Home</h1>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/manager/home" id="homebutton" name="homebutton">Manager Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/manager/createreservation" name="createresbutton" id="createresbutton">New Reservation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/manager/logout" name="logoutbutton" id="logoutbutton">Logout</a>
  </li>
</ul>

<ul class="list-group">
  {{#unless reservations.length}}
    <li class="list-group-item list-group-item-info">No reservation for your restaurant.</li>
  {{else}}
    <li class="list-group-item search-class">Reservations for your restaurant:</li>
  {{/unless}}
</ul>

<ol>
  {{#each reservations}}
  <li>Reservation Number: {{this.ReservationNumber}}
    <p>Customer Name: {{this.CustomerName}}</p>
    <p>Customer Email: {{this.CustomerEmail}}</p>
    <p>Customer Phone: {{this.CustomerPhone}}</p>
    <p>Reservation Time: {{this.ReservationTime}}</p>
    <p>Preference: {{this.CustomerPreference}}</p>
    <div class="mb-1">
    <a class="btn btn-primary" href="/manager/editreservation/{{this._id}}" name="editreserbutton" id="editreserbutton">Edit Reservation</a>
    </div>
    <form action="/manager/home?_method=DELETE" method="POST">
      <input type="hidden" name="reservationid" id="reservationid" value={{this._id}}>
      <div class="form-group mb-1">
        <button type="submit" class="btn btn-warning" name="deletereserbutton" id="deletereserbutton" value={{this._id}}>Fulfill Reservation</button>
      </div>
    </form>
  </li>
  {{/each}}
</ol>
